.mainpage-container{
  font-family: 'Rubik', sans-serif;
  display: flex;
}
.sidenav {
  height: 100%;
  width: 20%;
  float:left;
  background-color: #4156A6;
  text-align: center;
  overflow: scroll;
} 
.logo3{
  height: auto;
  width: 80%;
  padding-top: 10px;
}
.team-label{
  color: white;
  padding: 20px;
  margin: 0;
  font-size: 150%;
  font-weight: 400;
}
.team-tab-current{
  background: white;
  padding: 15px;
  font-size: 110%;
  display: block;
  width: 100%;
  border: none;
  font-family: 'Rubik', sans-serif;
  color: #4156A6;
}
.team-tab{
  background: #4156A6;
  padding: 15px;
  font-size: 110%;
  display: block;
  width: 100%;
  border: none;
  font-family: 'Rubik', sans-serif;
  color: white;
}
.team-tab:hover{
  background: #6479C8;
}
.team-tab-submit{
  background: #4156A6;
  padding: 15px;
  font-size: 110%;
  display: block;
  width: 100%;
  border: none;
  font-family: 'Rubik', sans-serif;
  color: white;
}
.team-tab-submit:hover{
  background: #6479C8;
}
.btn{
  cursor: pointer;
  background-color: white;
  border-radius: 10px;
  border-color: #D9DDED;
  color: #4156A6;
}
.btn:hover{
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.28), 0 4px 15px 0 rgba(0, 0, 0, 0.25);
}

.right-content{
  float: left;
  width: 80%;
  height: 100%;
}
.top-bar{
  height: 30%;
}
.top-header{
  font-size: 150%;
  font-weight: 450;
  color: #4156A6;
  margin:0;
  padding: 2% 5%;
}
/* .tab-btn{
  display: inline-block;
  width: 20%;
  height: 0;
  margin-left: 30px;
} */
.tab-btn-overview{
  background: white;
  border: none;
  display: inline-block;
  padding: 0;
  width: 10%;
  height: auto;
  border: 0;
  margin-left: 5%;
}
.tab-overview-img{
  width: 100%;
  height: auto;
}
.tab-btn-score{
  background: white;
  border: none;
  display: inline-block;
  padding: 0;
  width: 10%;
  height: auto;
  border: 0;
  margin-left: 5%;
}
.tab-score-img{
  width: 65%;
  height: auto;
}
.tab-btn-score:hover{
  cursor: pointer;
}
.tab-btn-overview:hover{
  cursor: pointer;
}
.total-score{
  float: right;
  text-align: center;
  border-radius: 17.5px;
  background-color: #6479C8;
  padding: 5px 10px;
  color: white;
  margin-right: 5%;
  margin-bottom: 10px;
} 

.main-container{
  height: 70%;
  padding: 3% 3%;
  background: #D9DDED;
}
.main-content-box{
  height: 90%;
  width: 90%;
  margin: auto;
  background: white;
  border-radius: 10px;
  padding-bottom: 3%;
}
.main-header{
  font-size: 120%;;
  color: #4156A6;
  padding-top: 5%;
  margin: 0; 
  padding-left: 5%;
}
.main-header-appname{
  display: inline-block;
  font-size: 120%;;
  color: #4156A6;
  padding-top: 5%;
  margin: 0; 
  padding-left: 5%;
}
.save-btn{
  cursor: pointer;
  float: right;
  font-size: 140%;
  background: white;
  color: #4156A6;
  border-color: #4156A6;
  border-radius: 5px;
  border-width: 4px;
  padding: 4px 15px;
  margin: 3% 20px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.28), 0 1px 2px 0 rgba(0, 0, 0, 0.25);

}
#save-btn:hover{
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.28), 0 4px 15px 0 rgba(0, 0, 0, 0.25);
}
.main-content{
  font-size: 100%;
  padding-left: 5%;
  padding-right: 5%;
}
.score-critiria-odd{
  display: inline-block;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 100%;
  padding-left: 5%;
}
.score-critiria{
  display: inline-block;
  font-size: 100%;
  padding-left: 5%;
}
.score-input{
  color: #4156A6;
  background-color: #D9DDED;
  border: none;
  border-radius: 5px;
  float: right;
  margin-right: 5%;
  font-size: 100%;
  text-align: center;
}
.score-input:hover{
  background-color: #D9DDED;
}
